{{ 'index.css' | asset_url | stylesheet_tag }}
    <div class="homeMask" id="homeMask"> 

    <div class="an-logo" id="anLogo"></div>
 <svg height="400" width="400" class="circle" >
  <circle id="circle" stroke="#01cffe" fill="none" cx="200" cy="200" r="180" stroke-width="10"></circle>
</svg> 
<h3 class="introTxt" id="introTxt">Dirte Bird Rags</h3>
<div class="left-bar" id="leftBar" ></div>
<div class="right-bar" id="rightBar"></div>

</div>
{{ content_for_index }}



<script src="{{ 'gsap.min.js'  | asset_url}}"></script>
<script src="{{ 'DrawSVGPlugin.min.js'  | asset_url}}"></script>
<script src="{{ 'SplitText.min.js'  | asset_url}}"></script>
<script src="{{ 'ScrollTrigger.min.js'  | asset_url}}"></script>
<script src="{{ 'index.js'  | asset_url}}"></script>

